{
  //General Bot settings
  "token": "", // Your bot token
  "prefix": "", // Prefix the bot uses.

  //Role IDs
  "modID": "", // Normal moderator Role.
  "adminID": "", // Supervisor/Admin Role.
  "ownerID": "", // Your ID

  "offTopicChannel": "", //Offtopic Channel ID
  "logChannel": "" //Log Channel ID. The various more "traditional" mod actions of Pedro are logged here.

}
